body{
    background-image: url(./images/rainwindow.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
}

#comment{
    width: 20%;
    height:10%;
    padding: 50px;
    color: #999;
    text-align: center; 
    font-family: "Helvetica Neue","fangsong";
    font-size: 20px;
    background: rgba(233, 240, 233, 0.05);
    border-radius: 10px;
}

#comment h1{
    font-size: 18px;
}

#comment .item{
    color: white;
    font-size: 24px;
}

#comment a{
    margin:5px;
    padding:5px;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid white;
}
@media screen and (max-width: 800px) {
    #comment{
        width: 40%;
        height: 100px;
    }
    #comment h1{
        font-size: 16px;
    }
    #comment .item{
        font-size: 18px;
    }
}